In [6]:
import pandas as pd

book=pd.read_csv("read.csv",usecols=["read"],squeeze=True)

book

0    b1
1    b2
2    b3
3    b4
4    b5
5    b6
6    b7
7    b8
8    b9
Name: read, dtype: object

In [8]:
book.sort_values()

0    b1
1    b2
2    b3
3    b4
4    b5
5    b6
6    b7
7    b8
8    b9
Name: read, dtype: object

In [10]:
book.sort_values().head()

0    b1
1    b2
2    b3
3    b4
4    b5
Name: read, dtype: object

In [11]:
book.sort_values(ascending=True)

0    b1
1    b2
2    b3
3    b4
4    b5
5    b6
6    b7
7    b8
8    b9
Name: read, dtype: object

In [13]:
book.sort_values(ascending=False) #for desending no separate parameter use ascendinga nd write false

8    b9
7    b8
6    b7
5    b6
4    b5
3    b4
2    b3
1    b2
0    b1
Name: read, dtype: object

In [15]:
book.sort_values(ascending=False).tail()

4    b5
3    b4
2    b3
1    b2
0    b1
Name: read, dtype: object

In [17]:
book.sort_values(ascending=False).head()

8    b9
7    b8
6    b7
5    b6
4    b5
Name: read, dtype: object

In [21]:
test=pd.read_csv("Book1.csv",squeeze=True)
test

    a   fs
0   d   fs
1   d  hjk
2  fs  kjk
3  fs   hk

In [23]:
test.head()

    a   fs
0   d   fs
1   d  hjk
2  fs  kjk
3  fs   hk

In [27]:
test.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'